body {
    font-family: 'Roboto', sans-serif;
}

.carousel-item {
    filter: brightness(50%);
    position: relative;
}

.carousel-caption {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(50%, 50%);
}

footer {
    height: 300px;
}